.all-restaurants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .main{
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .search-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 15px;
}
input.search-input {
  max-width: 500px;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ced6e0;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}
  
  .restaurant-card {
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    flex: 1 1 calc(25% - 1rem); 
    max-width: calc(25% - 1rem); 
    margin: 0.5rem;
    cursor: pointer;
  }
  
  .restaurant-card:hover {
    transform: scale(1.05);
  }
  
  .restaurant-card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .restaurant-card-info {
    padding: 1rem;
  }
  
  .restaurant-card-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-golden);
    margin: 0;
  }
  
  .restaurant-card-address, .restaurant-card-phone, .restaurant-card-email {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .restaurant-card-info span {
    font-weight: bold;
  }
  
  .menu-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  h3.modal-heading {
    font-size: 26px;
    color: var(--color-golden);
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center
  }
  
  .menu-item-card {
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    max-width: 550px;
    margin: 0.5rem;
  }
  
  .menu-item-card:hover {
    transform: scale(1.05);
  }
  
  .menu-item-card-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .menu-item-card-info {
    padding: 1rem;
  }
  
  .menu-item-card-info h4 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-golden); 
    font-weight: bold;
  }
  
  .menu-item-card-info p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 1200px) {
    .restaurant-card {
      flex: 1 1 calc(33.333% - 1rem); 
      max-width: calc(33.333% - 1rem); 
    }
  }
  
  @media screen and (max-width: 768px) {
    .restaurant-card {
      flex: 1 1 calc(50% - 1rem); 
      max-width: calc(50% - 1rem); 
    }
  }
  
  @media screen and (max-width: 480px) {
    .restaurant-card {
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }
  