.admin-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
