.admin-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1rem 2rem;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 10px;
}
.admin-logout{
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.admin-logout-button{
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 1rem;
}
.logo{
    width: 125px;
    height: 54px;
    border-radius: 26px;
}
.admin-logout-button:hover{
    background-color: #e60000; 
    transform: scale(1.05); 
}
.admin-logout-button:focus{
    outline: 2px solid #fff; 
    outline-offset: 2px;
}