/* .recommended-menu {
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 20px;
}

.recommended-items {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    justify-content: center;
}
h2.recommendation-heading {
    text-align: center;
    border: none;
    font-size: 26px;
    color: #343a40;
    margin-bottom: 20px;
}
.recommended-item {
    min-width: 150px; 
    margin-right: 10px;
    max-width: 400px;
}

.recommended-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
} */
.recommended-menu {
    /* margin: 20px 0; */
    padding: 4rem 6rem;
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    cursor: pointer;
  }
  
  h2.recommendation-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .recommended-item {
    text-align: center; 
    padding: 10px; 
  }
  
  .recommended-item img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
    object-fit: cover;
  }
  
  @media (max-width: 1024px) {
    .recommendation-heading {
      font-size: 20px; 
    }
  }
  
  @media (max-width: 768px) {
    .recommendation-heading {
      font-size: 18px; 
    }
  
    .recommended-item {
      padding: 5px; 
    }
  }
  
