.feedback-container {
    /* background-color: var(--color-black); */
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-white);
    font-family: var(--font-alt);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .feedback-container h1 {
    color: var(--color-golden);
    font-family: var(--font-base);
  }
  
  .feedback-container label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-crimson);
  }
  
  .feedback-container select,
  .feedback-container textarea,
  .feedback-container button {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-alt);
  }
  
  .feedback-container select:focus,
  .feedback-container textarea:focus,
  .feedback-container button:focus {
    outline: none;
    border-color: var(--color-golden);
  }
  
  .feedback-container button {
    background-color: var(--color-golden);
    color: var(--color-black);
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .feedback-container button:hover {
    background-color: var(--color-crimson);
  }
  
  .success-message,
  .error-message {
    margin-top: 20px;
    font-family: var(--font-alt);
    padding: 10px;
    border-radius: 4px;
  }
  
  .success-message {
    color: #28a745; /* Green color for success */
  }
  
  .error-message {
    color: #dc3545; /* Red color for errors */
  }